@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "scss/button.scss";
@import "scss/input.scss";
@import "scss/item.scss";

body {
  margin: 0;
  width: 100%;
  font-size: 14px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
