// Color
$bafe: #385446;
$dark-bafe: #26342a;

$red: #B82837;
$orange: #DF7514;
$green: #009F50;
$blue: #0095DA;
$white: #fafafa;
$black: #333;

$dark-red: #9b242d;
$dark-orange: #9b4e10;
$dark-green: #006931;
$dark-blue: #00679b;
$dark-white: #9b9b9b;

$pure-white: #fff;
$pure-black: #000;

$grey-1: #eee;
$grey-2: #ddd;
$grey-3: #ccc;
$grey-4: #bbb;
$grey-5: #9a9a9a;
