input {
  &:focus {
    outline: none;
  }
  text-decoration: none;
  border: 0px;
  -webkit-appearance: none;
}

select, textarea {
  &:focus {
    outline: none;
  }
}

.input {
  border: 1px solid lightgray;
  padding: 10px 10px;
  margin: 10px 0px;
  border-radius: 5px;
  box-sizing: border-box;

  &::placeholder {
    color: lightgray;
  }
}
