@import "abstracts/variables";

@import "base/reset";
@import "base/typography";

@import "components/button";
@import "components/input";
@import "components/item";
@import "components/summary";
@import "components/not-found";

@import "layout/grid";
@import "layout/body";

body {
   margin: 0;
   width: 100%;
 }

.container {
  max-width: 1200px;
  margin: 0px auto;
}
