.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px 0px;
}

.grid-item {
  padding: 0;

  * {
    word-break: break-word;
  }

  &:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    -webkit-transition: 100ms;
  }
}
