.input[type="text"],
.input[type="number"],
.input {
  border: 1px solid $grey-3;
  padding: 10px 10px;
  margin: 10px 0px;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;

  &::placeholder {
    color: lightgray;
  }
}

textarea {
  max-width: 100%;
  max-height: 200px;

  &.input::placeholder {
    color: lightgray;
  }
}

// Input set

.input-set__vertical {
  display: flex;
  flex-direction: column;

  & > {
    input {
      margin: 10px 0px;
    }
  }
}

.input-set__horizontal {
  display: flex;

  & > {
    input {
      margin: 10px 0px;
    }
  }
}


.input {
  border: 1px solid $grey-3;
  padding: 10px 10px;
  margin: 10px 0px;
  border-radius: 5px;
  box-sizing: border-box;

  &:disabled {
    background-color: $grey-1;
  }

  &::placeholder {
    color: $grey-5;
  }

  &:focus {
    border-color: $blue;
  }

  &.input--error {
    border-color: $red;
  }

  &.input--warning {
    border-color: $orange;
  }

  &.input--success {
    border-color: $green;
  }
}

// Footnote

.footnote {
  font-size: 12px;
  color: grey;
  display: block;
  margin-top: -10px;

  &.footnote--error {
    color: $red;
  }

  &.footnote--success {
    color: $green;
  }
}

