.input {
  border: 1px solid $grey-3;
  padding: 10px 10px;
  margin: 10px 0px;
  border-radius: 5px;
  box-sizing: border-box;

  &:disabled {
    background-color: $grey-1;
  }

  &::placeholder {
    color: $grey-5;
  }

  &:focus {
    border-color: $blue;
  }

  &--error {
    border-color: $red;
  }

  &--warning {
    border-color: $orange;
  }

  &--success {
    border-color: $green;
  }
}

